# Gradle
# ------
.gradle
/build

# IDEA
# ----
*.iml
/*.iml
/*.ipr
/*.iws
/local.properties
/gradle.properties
.idea
/.idea/workspace.xml
/.idea/libraries
.shelf
/out
/captures
.externalNativeBuild

# Eclipse
# -------
*.classpath
*.project
*.settings
/bin

# MAC
# ---
.DS_Store
