<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.heqi.kharazim">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:name=".KharazimApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".activity.HomeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity android:name=".archives.activity.InitActivity"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".archives.activity.LoginActivity"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:launchMode="singleTask"
                  android:screenOrientation="portrait"/>

        <activity android:name=".archives.activity.StatsActivity"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>

        <activity android:name=".explore.activity.PlanDetailActivity"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:screenOrientation="portrait"/>

        <activity android:name=".consume.activity.ConsumeActivity"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
                  android:launchMode="singleTask"
                  android:configChanges="keyboardHidden|orientation|screenSize"/>

    </application>

</manifest>
